import React from "react"
import clsx from "clsx"

interface Props {
    className?: string
    children?: React.ReactNode
}

const {{pascalCase name}} = ({className, children}: Props) => {
    const mainClassName = clsx("", className);

    return(
        <div className={mainClassName}>
            {children}
        </div>
    )
}

export default {{pascalCase name}}
